html,
body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* 
*:not(:defined) {
    opacity: 0;
}

*:defined {
    opacity: 1;
    transition: opacity 0.1s;
}
 */
