div {
    border: 1px solid;
    background-color: #AA9999AA;
}

div:nth-child(2n) {
    border: 1px solid;
    background-color: #99AA99AA;
}

.test {
    display: none;
}

.test:has(:nth-child(5)) {
    display: unset;
}