@layer Layout {
    :is(layout-resizable, .layout-resizable) {
        @layer reset {

            &,
            &:before,
            &:after,
            &>*,
            &>*:before,
            &>*:after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
        }

        & {
            --layout-display: block;
            display: var(--layout-display);
            resize: both;
        }

        @layer items {
            &>* {
                width: 100%;
                height: 100%;
            }
        }

    }
}