@layer Layout.reset, Layout, Layout.items;

@layer Layout {
    :is(layout-screen, .layout-screen) {
        --layout-display: block;
        display: var(--layout-display);
        width: 100vw;
        height: 100vh;

        @layer reset {

            &,
            &:before,
            &:after,
            &>*,
            &>*:before,
            &>*:after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
        }

        @layer items {
            &>* {
                width: 100%;
                height: 100%;
            }
        }

    }
}