@layer Layout.reset, Layout, Layout.items;

@layer Layout {

    :is(layout-horizontal, .layout-horizontal),
    :is(layout-row, .layout-row) {
        --layout-display: flex;
        display: var(--layout-display);
        flex-direction: row;

        @layer items {
            &>* {
                flex: 1;
            }
        }

        @layer reset {

            &,
            &:before,
            &:after,
            &>*,
            &>*:before,
            &>*:after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
        }

    }
}